body 
{
    background-image: url("landscape.jpg");
    background-repeat: repeat;
    font-family: 'ZCOOL KuaiLe', cursive;
}
#container
{
    background-image: url('raceBackground.png');
    background-repeat: repeat;
    width: 100%;
    height: 200px;
    position: relative;
}
#finish
{
    height: 100%;
    position: relative;
    left: 1200px;

}
#mario
{
    position: absolute;
    height: 100px;
    width: 90px;
    bottom: 0px;

}

#bowser
{
    position: absolute;
    height: 100px;
    width: 90px;

}